<h1>This is image posts page</h1>


<form method="POST" action="/process-post">
    <div class="form-group">
        <label for="title">Image Post Title:</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Enter title here"> <br>

        <label for="img1url">Image 1 URL:</label>
        <input type="text" class="form-control" id="img1url" name="img1url" placeholder="Image 1 URL">,
        <label for="img1caption">Caption:</label>
        <input type="text" class="form-control" id="img1caption" name="img1caption" placeholder="Image 1 caption"> <br>

        <label for="img2url">Image 2 URL:</label>
        <input type="text" class="form-control" id="img2url" name="img2url" placeholder="Image 2 URL">,
        <label for="img2caption">Caption:</label>
        <input type="text" class="form-control" id="img2caption" name="img2caption" placeholder="Image 2 caption"> <br>

        <label for="img3url">Image 3 URL:</label>
        <input type="text" class="form-control" id="img3url" name="img3url" placeholder="Image 3 URL">,
        <label for="img3caption">Caption:</label>
        <input type="text" class="form-control" id="img3caption" name="img3caption" placeholder="Image 3 caption"> <br>
    </div>
    <button type="submit" class="btn btn-warning btn-lg">Submit</button>
</form>

{{#each imagePosts as |anImagePost|}}
    <li><a href="/image-posts/{{anImagePost.slug}}">{{anImagePost.title}}</a></li>
    {{#each anImagePost.images as |anImage|}}
        <figure>
            <figcaption>{{anImage.caption}}</figcaption>
            <img src="{{anImage.url}}" class="img-fluid">
        </figure>
    {{/each}}
{{/each}}