nav {
    text-align: center;
}
img {
    max-width: 200px;
    max-height: 200px;
}

.page-heading {
    text-align: center;
}

.modify {
    text-align: center;
}

form {
    text-align: center;
}

input {
    text-align: center;
}

.imageposts {
    text-align: center;
}

.list-item {
    text-align: left;
}